body{
    font-family: 'Mako', sans-serif !important;
   
}

.navbar-gradients{
    background: linear-gradient(#f8f8f8,#c6c6c6);
}

.top-nav{
    background: linear-gradient(#4e5051,#525455);
}

.fa-registered{
    font-size: 7px;
}

.icons{
    height: 22px;
    width: 22px;
    background-image: url(sprite.png);
    
}
.edit{
    background-position: 0px 0px;
}
.setting{
    background-position: -22px 0px;
}
.add{
    background-position: 21px 0px;
}